---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About - Abbas Hayder</title>
  </head>
  <body>
    <a href="/">HOME</a>
    <a href="/about/">ABOUT</a>
    <a href="/blog/">BLOG</a>

    <h2>Hi, I'm Abbas.</h2>
    <p>
      I'm a Software Engineer specializing in FinTech and PropTech. I write about technology, system
      design, and business sustainability.
    </p>
    <p>
      I subscribe to the Unix philosophy of "do one thing and do it well" and strive to apply this
      principle in other domains as well.
    </p>
  </body>
</html>
