---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog - Abbas Hayder</title>
  </head>
  <body>
    <a href="/">HOME</a>
    <a href="/about/">ABOUT</a>
    <a href="/blog/">BLOG</a>

    <h2>Welcome to my blog.</h2>
    <p>This is where I share my thoughts and reflections from my Zettelkasten notes.</p>
  </body>
</html>
